@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Myrina<br />
    Limnos<br />
    <abbr title="Phone">P:</abbr>
    666.666.666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">tsormang@yahoo.gr.com</a>
</address>