@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PAPER SCHOOL</h1>
    <p class="lead">Paper School is a place made out of Paper. Beware of Rain.</p>
    <p><a href="https://en.wikipedia.org/wiki/Paper" class="btn btn-primary btn-lg">Learn About Paper &raquo;</a></p>
</div>

<div class="row">
    
</div>