@{
    ViewBag.Title = "Home Page";
}

<!-- header section -->
<section class="banner" role="banner">
    <!--header navigation -->
    <!--header navigation -->
</section>
<!-- header section -->
<!-- text banner section -->
<section id="banner" class="banner no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="col-md-12">
                            <blockquote>
                                <h1>Paper School</h1>
                                <p>Your School Made out of paper</p>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Text banner section -->
<!-- portfolio section -->
<section id="works" class="works section no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-1.jpg" class="work-box">
                    <img src="~/images/work-1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-2.jpg" class="work-box">
                    <img src="~/images/work-2.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-3.jpg" class="work-box">
                    <img src="~/images/work-3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-4.jpg" class="work-box">
                    <img src="~/images/work-4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-5.jpg" class="work-box">
                    <img src="~/images/work-5.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-6.jpg" class="work-box">
                    <img src="~/images/work-6.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-7.jpg" class="work-box">
                    <img src="~/images/work-7.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/images/work-8.jpg" class="work-box">
                    <img src="~/images/work-8.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>Paper School</h5>
                            <p><i class="fa fa-search-plus fa-2x"></i></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
        </div>
    </div>
</section>
<!-- portfolio section -->
<!-- footer -->
<footer class="section footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p>
                    <ul class="footer-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </p>
                <p>
                <p>&copy; @DateTime.Now.Year - Paper School</p><br>
                Made with <i class="fa fa-heart pulse"></i> by <a href="https://en.wikipedia.org/wiki/Paper">PAPER</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer --> 