<!-- header section -->
<section class="banner" role="banner">
    <!--header navigation -->
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="index.html">@Html.ActionLink("Paper School", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            <nav class="navigation" role="navigation">

                <ul class="primary-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!--header navigation -->
</section>
<!-- header section -->
